{% extends "base.html" %}

{% block app_content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Christmas Conflict Creator</h1>
  </div>
  <div class="panel-body">
  <h2>The Problem</h2>
  Have you ever had trouble enjoying your holiday family dinner due to the wrong amount of conflict? Maybe the people in agreement with each other sat near each other, and their conversations just turned into echo chambers. Or maybe people with differing opinions were mixed in with each other, and there was too much conflict, leading to several broken dishes.
  <h2>Our Solution</h2>
  <p>
    Our proprietary algorithm
  </p>
  <h2>Background Information</h2>
  <p>Clique finding</p>

  <h2>How it works</h2>
  <h3>Survey to Graph</h3>

  <h3>Graph to Seating Arrangement</h3>
  <h2>Who We Are</h2>
  <p>
  We are students in the class Discrete Mathematics at Olin College of Engineering, and for our final project, we want to make your family holidays exactly as chaotic as you want them to be!
  </p>
  </div>
</div>
{% endblock %}
