{% extends "base.html" %}

{% block app_content %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 style="color: #bd1320; font-weight:bold;">Christmas Conflict Creator</h1>
  </div>
  <div class="panel-body">
  <h2 style="color: #007b66;">Sources</h2>
  <!-- <h3 style="color: #bd1320;"></h3> -->
  <ol>
    <li>
      <a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">The Flask Megatutorial by Miguel Grinberg</a>. We used this tutorial to get our website up and running at light speed.
    </li>
    <li>
      <a href="https://docs.microsoft.com/en-us/archive/msdn-magazine/2011/november/test-run-greedy-algorithms-and-maximum-clique">Test Run - Greedy Algorithms and Maximum Clique by James McCaffrey </a>
    </li>
    <li>
      <a href="http://www.dcs.gla.ac.uk/~pat/jchoco/clique/enumeration/papers/SMJ000001%5B1%5D.pdf">The Enumeration of Maximal Cliques of Large Graphs by E. A. Akkoyunlu</a>
    </li>
    <li>
      <a href="https://www.sciencedirect.com/science/article/pii/S0166218X01002906">A fast algorithm for the maximum clique problem by Patric R.J. Östergård </a>
    </li>
    <!-- <li>
    </li> -->
  </ol>

  </div>
</div>
</body>
{% endblock %}
